<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- 
	<context:property-placeholder location="classpath:*.properties" />
	 -->

	<!-- 缓存 -->
	<bean id="cacheManager" class="net.energy.cache.ehcache.EhcacheManager">
		<property name="configLocation" value="classpath:ehcache.xml" />
	</bean>

	
	<!-- JDBC -->
	<!--
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	
	<bean id="dialect" class="net.energy.jdbc.impl.MySqlDialect" />

	<bean id="dataAccessor" class="net.energy.jdbc.impl.SimpleJdbcDataAccessor">
		<property name="dataSource" ref="dataSource" />
		<property name="dialect" ref="dialect" />
	</bean>

	<bean id="daoFactory" class="net.energy.factory.CacheableJdbcFactory">
		<property name="cacheManager" ref="cacheManager" />
		<property name="dataAccessor" ref="dataAccessor" />
	</bean>
	-->
	
</beans>